body{
    color: #ffffff;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

.botao img{
    width: 25px;
    padding: 5px 5px;
}
 
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

nav a:hover{
    color: grey;
}

a{
    color: #ffffff;
    text-decoration: none;
}

img{
    border-radius: 50%;
    
}

footer{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img{
    width: 150px;
    height: 150px;
}

.center{
    text-align: center;
}

.section{
    padding: 10px;
}

footer p{
    margin: 0.1px;
    text-align: center;
}

.Contato{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 300px;   
}

.projetos img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(./img/background.png);
}

.projetos p:hover{
    color: grey;
}